name: CI Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    - name: Install MLflow
      run: pip install mlflow scikit-learn pandas numpy matplotlib

    - name: Run MLflow Project
      run: mlflow run MLProject -P learning_rate=0.01 -P n_estimators=100

    - name: Build Docker Image
      run: |
        docker build -t <dockerhub-username>/workflow-ci:latest .
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
        docker push <dockerhub-username>/workflow-ci:latest
