name: MLflow CI Workflow

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # Perubahan 1: Pastikan semua library yang ada di conda.yaml terinstall di sini
    - name: Install dependencies
      run: |
        pip install mlflow scikit-learn pandas joblib numpy matplotlib

    # Perubahan 2: Tambahkan --env-manager=local
    - name: Run MLflow Project
      run: |
        mlflow run . --env-manager=local
